<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676984714419-s8q1rf4nqau4jnd4m0rdmrakcbsu7hn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676984714419-s8q1rf4nqau4jnd4m0rdmrakcbsu7hn1</string>
	<key>API_KEY</key>
	<string>AIzaSyAwzE-nfw8uuYItswlSDUTAZ1M6WJ_czno</string>
	<key>GCM_SENDER_ID</key>
	<string>676984714419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seogamdo.AI-MUNJANG</string>
	<key>PROJECT_ID</key>
	<string>aimunjang</string>
	<key>STORAGE_BUCKET</key>
	<string>aimunjang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676984714419:ios:4cabdf5e42e9eb3e4becc6</string>
</dict>
</plist>